.post-container {
  padding: 20px 20px;
}
.post-profile-section {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.post-person-data {
  margin-left: 15px;
}
.post-person-data h1 {
  font-weight: bold;
}
.post-person-data h6 {
  font-size: 13px;
  color: #937379;
}
.post-info {
  font-size: 15px;
  color: #81666b;
  padding: 10px 0px;
}
.likes-section {
  padding: 10px 5px;
}

.addcomment-section {
  padding: 10px 0px;
}

.addcomment-section input {
  /* position: relative; */
  width: 420px;
}

.sendcomment {
  position: relative;
  right: 30px;
  color: grey;
}
